// COLORS
$primary-color: #ce3bff;         // Aproximado de oklch(0.6726 0.2904 341.4084)
$secondary-color: #bba4ff;       // Aproximado de oklch(0.2542 0.0611 281.1423)

$white-color: #000000;

$dark-grey: #2b1b36;             // Aproximado de oklch(0.1649 0.0352 281.8285)
$light-grey: #9e8fb5;            // Aproximado de oklch(0.6245 0.0500 278.1046)

$dark-blue-text: #f2f1fb;        // Aproximado de oklch(0.9513 0.0074 260.7315)

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
